<CascadingValue Value="_culture">
    <CascadingValue Value="_resolvedTheme">
        <CascadingValue Value="_resolvedThemeType">
            <div @ref="_root"
                 class="@_classAttribute"
                 style="@_styleAttribute"
                 data-state="@_stateAttribute"
                 data-label-position="@_labelPositionAttribute"
                 aria-label="@_ariaLabel"
                 @onfocusin="HandleFocusIn"
                 @onfocusout="HandleFocusOut"
                 @attributes="_additionalAttributes">
                @if (_renderLabel)
                {
                    <span class="@_labelClass"
                          style="@_labelStyle"
                          aria-hidden="true">@Label</span>
                }
                <div class="ary-surface__content">
                    @ChildContent
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
